@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(style.css);
.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.custom-shadow-twitter {
    box-shadow: 0 2px 4px 0 rgba(231, 107, 225, 0.5), 0 3px 5px 0 rgba(236, 140, 212, 0.5);
}

.custom-shadow-save {
    box-shadow: 0 2px 4px 0 rgba(102, 238, 89, 0.5), 0 3px 5px 0 rgba(91, 240, 99, 0.5);
}

.custom-shadow-commit {
    box-shadow: 0 2px 4px 0 rgba(241, 55, 55, 0.5), 0 3px 5px 0 rgba(240, 45, 45, 0.5);
}